In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Rekap Form D.csv')

In [3]:
df.head()

,id,category,pas1 parent,pas2 parent,pas1 child,pas2 child,gap1,gap2,gap1 percentage,gap2 percentage,diffrence vote in parent,diffrence vote in child,Path Parent
0,4044,kel,2,62.0,31,178.0,-29,-116.0,-1450%,-187%,NaN,NaN,1/3205/4033
1,4045,kel,2,30.0,24,217.0,-22,-187.0,-1100%,-623%,NaN,NaN,1/3205/4033
2,31497,kel,663,727.0,4011,4383.0,-3348,-3656.0,-505%,-503%,NaN,NaN,26141/31345/31487
3,4053,kel,10,117.0,51,224.0,-41,-107.0,-410%,-91%,NaN,NaN,1/3205/4033
4,4048,kel,12,141.0,56,322.0,-44,-181.0,-367%,-128%,NaN,NaN,1/3205/4033

In [4]:
df = df.fillna(0)

In [5]:
df = df.astype({"pas2 parent": int, "pas1 parent":int, "pas1 child" : int, "pas2 child" :int ,"gap1" : int, "gap2" : int})

In [6]:
# df.drop(['Path Parent'],axis=1,inplace=True)

In [7]:
# Membuat kolom selisih suara pada parent dan child
diffrence_vote_parent = []
diffrence_vote_child = []

for idx in range (len(df)):
    diff_parent = df['pas1 parent'][idx] - df['pas2 parent'][idx]
    diff_child = df['pas1 child'][idx] - df['pas2 child'][idx]
    diffrence_vote_parent.append(diff_parent)
    diffrence_vote_child.append(diff_child)


df['diffrence vote in parent'] = diffrence_vote_parent
df['diffrence vote in child'] = diffrence_vote_child

In [8]:
# Membuat kolom selisih suara pada parent dan child
gap1_percentage = []
gap2_percentage = []

for idx in range (len(df)):
    gap1 = (df['gap1'][idx]/df['pas1 child'][idx]) * 100
    gap2 = (df['gap2'][idx]/df['pas2 child'][idx]) * 100
    gap1_percentage.append(round(gap1,2))
    gap2_percentage.append(round(gap2,2))


df['gap1 percentage'] = gap1_percentage
df['gap2 percentage'] = gap2_percentage

<ipython-input-8-23685708d022>:7: RuntimeWarning: invalid value encountered in long_scalars
  gap2 = (df['gap2'][idx]/df['pas2 child'][idx]) * 100

In [9]:
df.head()

,id,category,pas1 parent,pas2 parent,pas1 child,pas2 child,gap1,gap2,gap1 percentage,gap2 percentage,diffrence vote in parent,diffrence vote in child,Path Parent
0,4044,kel,2,62,31,178,-29,-116,-93.55,-65.17,-60,-147,1/3205/4033
1,4045,kel,2,30,24,217,-22,-187,-91.67,-86.18,-28,-193,1/3205/4033
2,31497,kel,663,727,4011,4383,-3348,-3656,-83.47,-83.41,-64,-372,26141/31345/31487
3,4053,kel,10,117,51,224,-41,-107,-80.39,-47.77,-107,-173,1/3205/4033
4,4048,kel,12,141,56,322,-44,-181,-78.57,-56.21,-129,-266,1/3205/4033

In [10]:
# import pandas_profiling as pp
# pp.ProfileReport(df)

In [11]:
# pp.ProfileReport(select)

In [12]:
df.dtypes

id                            int64
category                     object
pas1 parent                   int64
pas2 parent                   int64
pas1 child                    int64
pas2 child                    int64
gap1                          int64
gap2                          int64
gap1 percentage             float64
gap2 percentage             float64
diffrence vote in parent      int64
diffrence vote in child       int64
Path Parent                  object
dtype: object

In [13]:
df.isna().describe()

,id,category,pas1 parent,pas2 parent,pas1 child,pas2 child,gap1,gap2,gap1 percentage,gap2 percentage,diffrence vote in parent,diffrence vote in child,Path Parent
count,355,355,355,355,355,355,355,355,355,355,355,355,355
unique,1,1,1,1,1,1,1,1,1,2,1,1,1
top,False,False,False,False,False,False,False,False,False,False,False,False,False
freq,355,355,355,355,355,355,355,355,355,309,355,355,355

In [14]:
df['gap2 percentage'].isna().sum()

46

In [15]:
df[(df['gap2 percentage'].isna())]

,id,category,pas1 parent,pas2 parent,pas1 child,pas2 child,gap1,gap2,gap1 percentage,gap2 percentage,diffrence vote in parent,diffrence vote in child,Path Parent
5,929724,kel,267,0,1071,0,-804,0,-75.07,NaN,267,1071,78203/79564/928154
16,929733,kel,189,0,393,0,-204,0,-51.91,NaN,189,393,78203/79564/928155
18,86806,kel,206,0,413,0,-207,0,-50.12,NaN,206,413,78203/79564/928154
19,929761,kel,240,0,481,0,-241,0,-50.10,NaN,240,481,78203/79564/928160
20,929723,kel,268,0,536,0,-268,0,-50.00,NaN,268,536,78203/79564/928154
21,929728,kel,242,0,484,0,-242,0,-50.00,NaN,242,484,78203/79564/928154
22,929739,kel,261,0,522,0,-261,0,-50.00,NaN,261,522,78203/79564/928156
23,929732,kel,254,0,507,0,-253,0,-49.90,NaN,254,507,78203/79564/928155
24,929726,kel,238,0,475,0,-237,0,-49.89,NaN,238,475,78203/79564/928154
25,929762,kel,224,0,447,0,-223,0,-49.89,NaN,224,447,78203/79564/928160
26,929731,kel,193,0,385,0,-192,0,-49.87,NaN,193,385,78203/79564/928155
27,86801,kel,170,0,339,0,-169,0,-49.85,NaN,170,339,78203/79564/928155
28,927636,kel,205,0,408,0,-203,0,-49.75,NaN,205,408,78203/79564/928160
33,927635,kel,193,0,349,0,-156,0,-44.70,NaN,193,349,78203/79564/928160
44,929774,kel,726,0,1210,0,-484,0,-40.00,NaN,726,1210,78203/79564/928162
47,929745,kel,313,0,500,0,-187,0,-37.40,NaN,313,500,78203/79564/928157
54,929718,kel,442,0,663,0,-221,0,-33.33,NaN,442,663,78203/79564/928153
57,930729,kel,395,0,203,0,192,0,94.58,NaN,395,203,78203/80851/80871
60,86816,kel,561,0,817,0,-256,0,-31.33,NaN,561,817,78203/79564/83726
62,928154,kec,5326,0,3568,0,1758,0,49.27,NaN,5326,3568,78203/79564
72,929734,kel,344,0,467,0,-123,0,-26.34,NaN,344,467,78203/79564/928156
77,929751,kel,514,0,343,0,171,0,49.85,NaN,514,343,78203/79564/928158
78,928160,kec,3078,0,2255,0,823,0,36.50,NaN,3078,2255,78203/79564
81,929741,kel,243,0,313,0,-70,0,-22.36,NaN,243,313,78203/79564/928157
84,928155,kec,3678,0,2860,0,818,0,28.60,NaN,3678,2860,78203/79564
88,83745,kec,2348,0,1877,0,471,0,25.09,NaN,2348,1877,78203/79629
92,929717,kel,942,0,722,0,220,0,30.47,NaN,942,722,78203/79564/928153
101,928156,kec,2692,0,2308,0,384,0,16.64,NaN,2692,2308,78203/79564
103,929750,kel,480,0,390,0,90,0,23.08,NaN,480,390,78203/79564/928158
106,927634,kel,1372,0,1120,0,252,0,22.50,NaN,1372,1120,78203/79564/928162
112,89120,kel,283,0,332,0,-49,0,-14.76,NaN,283,332,78203/79564/928157
114,929746,kel,274,0,320,0,-46,0,-14.37,NaN,274,320,78203/79564/928157
122,928157,kec,3283,0,2931,0,352,0,12.01,NaN,3283,2931,78203/79564
133,89131,kel,411,0,463,0,-52,0,-11.23,NaN,411,463,78203/79564/928153
134,927631,kel,511,0,447,0,64,0,14.32,NaN,511,447,78203/79564/928158
135,80725,kec,24868,0,23271,0,1597,0,6.86,NaN,24868,23271,78203/80724
143,86802,kel,475,0,426,0,49,0,11.50,NaN,475,426,78203/79564/928153
147,83726,kec,5834,0,5578,0,256,0,4.59,NaN,5834,5578,78203/79564
174,928162,kec,6900,0,6694,0,206,0,3.08,NaN,6900,6694,78203/79564
188,928153,kec,6472,0,6338,0,134,0,2.11,NaN,6472,6338,78203/79564
191,89137,kel,835,0,809,0,26,0,3.21,NaN,835,809,78203/79564/928162
197,928121,kec,6335,0,6243,0,92,0,1.47,NaN,6335,6243,78203/80724
218,82787,kel,57,0,58,0,-1,0,-1.72,NaN,57,58,81877/82724/82785
252,928130,kec,916,0,916,0,0,0,0.00,NaN,916,916,78203/81007
287,83650,kec,1838,0,1839,0,-1,0,-0.05,NaN,1838,1839,78203/81261
320,64920,kel,58,0,58,0,0,0,0.00,NaN,58,58,928068/64709/930101

In [16]:
df = df.fillna(0)

In [17]:
df.isna().describe()

,id,category,pas1 parent,pas2 parent,pas1 child,pas2 child,gap1,gap2,gap1 percentage,gap2 percentage,diffrence vote in parent,diffrence vote in child,Path Parent
count,355,355,355,355,355,355,355,355,355,355,355,355,355
unique,1,1,1,1,1,1,1,1,1,1,1,1,1
top,False,False,False,False,False,False,False,False,False,False,False,False,False
freq,355,355,355,355,355,355,355,355,355,355,355,355,355

In [18]:
df.to_json('form_rekap.json', orient='split')

In [19]:
df

,id,category,pas1 parent,pas2 parent,pas1 child,pas2 child,gap1,gap2,gap1 percentage,gap2 percentage,diffrence vote in parent,diffrence vote in child,Path Parent
0,4044,kel,2,62,31,178,-29,-116,-93.55,-65.17,-60,-147,1/3205/4033
1,4045,kel,2,30,24,217,-22,-187,-91.67,-86.18,-28,-193,1/3205/4033
2,31497,kel,663,727,4011,4383,-3348,-3656,-83.47,-83.41,-64,-372,26141/31345/31487
3,4053,kel,10,117,51,224,-41,-107,-80.39,-47.77,-107,-173,1/3205/4033
4,4048,kel,12,141,56,322,-44,-181,-78.57,-56.21,-129,-266,1/3205/4033
...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,47635,kec,20048,7930,25525,9633,-5477,-1703,-21.46,-17.68,12118,15892,42385/47634
351,25919,kel,8250,7310,8250,7308,0,2,0.00,0.03,940,942,25823/25886/25916
352,47683,kec,15836,3753,22044,8727,-6208,-4974,-28.16,-57.00,12083,13317,42385/47634
353,47663,kec,16219,4057,28633,10574,-12414,-6517,-43.36,-61.63,12162,18059,42385/47634
354,47796,kec,11362,4863,32124,9844,-20762,-4981,-64.63,-50.60,6499,22280,42385/47634

In [20]:
select_diff = df[((df['diffrence vote in parent'] >= 0) & (df['diffrence vote in child'] <0)) | ((df['diffrence vote in parent'] < 0) & (df['diffrence vote in child'] > 0))]

In [21]:
select_diff.to_json('diff_vote.json', orient='split')

In [22]:
select = df[((df['gap1 percentage'] >= 0) & (df['gap2 percentage'] <0)) | ((df['gap1 percentage'] < 0) & (df['gap2 percentage'] > 0))]

In [23]:
select.to_json('diff_percentage.json', orient='split')

In [24]:
select.to_csv('diff_percentage.csv')

In [25]:
select_diff.to_csv('diff_vote.csv')

In [26]:
df.to_csv('form_rekap.csv')

In [27]:
select

,id,category,pas1 parent,pas2 parent,pas1 child,pas2 child,gap1,gap2,gap1 percentage,gap2 percentage,diffrence vote in parent,diffrence vote in child,Path Parent
14,3235,kel,6,312,13,274,-7,38,-53.85,13.87,-306,-261,1/3205/3206
32,1932,kel,20,324,37,231,-17,93,-45.95,40.26,-304,-194,1/1824/1883
40,4035,kel,7,203,12,141,-5,62,-41.67,43.97,-196,-129,1/3205/4033
53,82798,kel,269,22,134,44,135,-22,100.75,-50.00,247,90,81877/82724/82793
59,1935,kel,37,231,20,324,17,-93,85.00,-28.70,-194,-304,1/1824/1883
...,...,...,...,...,...,...,...,...,...,...,...,...,...
335,81141,kec,1786,803,1886,703,-100,100,-5.30,14.22,983,1183,78203/81104
336,18678,kel,358,581,358,584,0,-3,0.00,-0.51,-223,-226,17404/18643/18662
337,50413,kec,37383,45246,42023,40752,-4640,4494,-11.04,11.03,-7863,1271,42385/50331
339,44296,kel,5858,1393,5858,1398,0,-5,0.00,-0.36,4465,4460,42385/43993/44293
344,62447,kel,267,480,267,481,0,-1,0.00,-0.21,-213,-214,61965/62333/62432

In [28]:
select[select['category'] == "kec"]

,id,category,pas1 parent,pas2 parent,pas1 child,pas2 child,gap1,gap2,gap1 percentage,gap2 percentage,diffrence vote in parent,diffrence vote in child,Path Parent
126,47747,kec,27610,7581,25277,11089,2333,-3508,9.23,-31.63,20029,14188,42385/47634
220,62708,kec,10909,19542,10824,19750,85,-208,0.79,-1.05,-8633,-8926,61965/62643
228,82802,kec,2273,185,2261,191,12,-6,0.53,-3.14,2088,2070,81877/82724
230,23315,kec,9082,29521,9038,29582,44,-61,0.49,-0.21,-20439,-20544,22328/23189
231,66189,kec,8570,4992,8530,5328,40,-336,0.47,-6.31,3578,3202,65702/66188
234,27826,kec,15271,30634,15232,30724,39,-90,0.26,-0.29,-15363,-15492,26141/27714
235,13260,kec,909,14262,907,14304,2,-42,0.22,-0.29,-13353,-13397,12920/13253
241,13398,kec,1409,11202,1408,11260,1,-58,0.07,-0.52,-9793,-9852,12920/13317
243,13318,kec,1479,12575,1478,12620,1,-45,0.07,-0.36,-11096,-11142,12920/13317
247,17276,kec,3867,7493,3865,7513,2,-20,0.05,-0.27,-3626,-3648,15885/17215
248,52857,kec,6899,18522,6897,18576,2,-54,0.03,-0.29,-11623,-11679,51578/52593
253,74229,kec,2889,2062,2889,3738,0,-1676,0.00,-44.84,827,-849,72551/74179
258,6081,kec,599,570,599,573,0,-3,0.00,-0.52,29,26,1/5920
259,78897,kec,4081,581,4081,584,0,-3,0.00,-0.51,3500,3497,78203/78862
260,9,kec,1517,12582,1517,12623,0,-41,0.00,-0.32,-11065,-11106,1/2
263,29825,kec,15770,7519,15770,7529,0,-10,0.00,-0.13,8251,8241,26141/29369
266,29344,kec,7889,12384,7889,12385,0,-1,0.00,-0.01,-4495,-4496,26141/28960
282,82298,kec,6029,45,6032,42,-3,3,-0.05,7.14,5984,5990,81877/928081
297,82277,kec,2621,52,2624,49,-3,3,-0.11,6.12,2569,2575,81877/928081
302,7340,kec,5460,2514,5474,2502,-14,12,-0.26,0.48,2946,2972,6728/7240
304,82815,kec,1308,199,1313,195,-5,4,-0.38,2.05,1109,1118,81877/82724
310,78886,kec,931,34,939,27,-8,7,-0.85,25.93,897,912,78203/78862
335,81141,kec,1786,803,1886,703,-100,100,-5.30,14.22,983,1183,78203/81104
337,50413,kec,37383,45246,42023,40752,-4640,4494,-11.04,11.03,-7863,1271,42385/50331

In [29]:
select_diff[select_diff['category']=="kabko"]

Empty DataFrame
Columns: [id, category, pas1 parent, pas2 parent, pas1 child, pas2 child, gap1, gap2, gap1 percentage, gap2 percentage, diffrence vote in parent, diffrence vote in child, Path Parent]
Index: []

In [30]:
select_diff

,id,category,pas1 parent,pas2 parent,pas1 child,pas2 child,gap1,gap2,gap1 percentage,gap2 percentage,diffrence vote in parent,diffrence vote in child,Path Parent
8,11764,kec,39092,40346,4831,3992,34261,36354,709.19,910.67,-1254,839,6728/11743
182,25602,kel,150,140,156,210,-6,-70,-3.85,-33.33,10,-54,25405/25597/930099
185,25604,kel,156,210,150,140,6,70,4.00,50.00,-54,10,25405/25597/930099
221,77345,kel,191,79,194,245,-3,-166,-1.55,-67.76,112,-51,77085/77311/929217
222,77344,kel,194,245,191,79,3,166,1.57,210.13,-51,112,77085/77311/929217
253,74229,kec,2889,2062,2889,3738,0,-1676,0.00,-44.84,827,-849,72551/74179
322,74232,kel,580,1869,580,193,0,1676,0.00,868.39,-1289,387,72551/74179/74229
337,50413,kec,37383,45246,42023,40752,-4640,4494,-11.04,11.03,-7863,1271,42385/50331

In [31]:
max(df["gap1"])

34261

In [34]:
display(select)

,id,category,pas1 parent,pas2 parent,pas1 child,pas2 child,gap1,gap2,gap1 percentage,gap2 percentage,diffrence vote in parent,diffrence vote in child,Path Parent
14,3235,kel,6,312,13,274,-7,38,-53.85,13.87,-306,-261,1/3205/3206
32,1932,kel,20,324,37,231,-17,93,-45.95,40.26,-304,-194,1/1824/1883
40,4035,kel,7,203,12,141,-5,62,-41.67,43.97,-196,-129,1/3205/4033
53,82798,kel,269,22,134,44,135,-22,100.75,-50.00,247,90,81877/82724/82793
59,1935,kel,37,231,20,324,17,-93,85.00,-28.70,-194,-304,1/1824/1883
...,...,...,...,...,...,...,...,...,...,...,...,...,...
335,81141,kec,1786,803,1886,703,-100,100,-5.30,14.22,983,1183,78203/81104
336,18678,kel,358,581,358,584,0,-3,0.00,-0.51,-223,-226,17404/18643/18662
337,50413,kec,37383,45246,42023,40752,-4640,4494,-11.04,11.03,-7863,1271,42385/50331
339,44296,kel,5858,1393,5858,1398,0,-5,0.00,-0.36,4465,4460,42385/43993/44293
344,62447,kel,267,480,267,481,0,-1,0.00,-0.21,-213,-214,61965/62333/62432